/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */



.login-main {
    background-color: rgb(21, 8, 73);
    display: flex;
    flex-direction: column;
    
}

.login-box-wrapper {
    background-color: rgb(232, 232, 235);
    width: 75vh;
    margin: 5em;
    box-shadow: 0 0 5px 5px rgb(232, 232, 235);
    animation: login-fly-in-bottom 1.8s;
}

.login-title-welcome {
    align-content: end;
    padding: 1em;
    font-size: 2.5em;
    font-weight: bold;
}

.login-title-span {
    color: rgb(49, 19, 170);
}

.login-title {
    margin-left: 0.5em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.login-box-data {
    padding: 0.5em;
    margin-left: 1em;
}

.login-header {
    border: 0.09em rgb(174, 173, 179) solid;
    border-right-width: 0em;
    padding-top: 0.28em;
    padding-bottom: 0.36em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}

.login-input {
    border: 0.09em rgb(174, 173, 179) solid;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
    padding-left: 0.5em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.login-error-message {
    color: red;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.2em;
    margin-bottom: -0.5em;
}

.email-adjuster {
    padding-right: 2.35em;
    padding-top: 0.26em;
}

.show-password-box {
    margin-left: 1.5em;
}

.show-password-header {
    margin-left: 0.5em;
}

.login-btn {
    margin-left: 1.5em;
    margin-top: 1em;
    width: 35%;
    background-color: rgb(49, 19, 170);
    color: white;
    border-radius: 0.25em;
}

.login-btn:disabled {
    background-color: rgba(19, 67, 170, 0.5);
}

.login-btn:hover {
    background-color: rgb(37, 15, 126);
}

.login-btn:disabled:hover {
    background-color: rgba(19, 67, 170, 0.5);
}

.divider-text {
    margin: 0.5em;
    padding-top: 1em;
    padding-left: 0.5em;
}

.create-acct-btn {
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 35%;
    border-radius: 0.25em;
    background-color: rgb(117, 122, 122);
    color: white;
}

.create-acct-btn:hover {
    background-color: rgb(81, 85, 85);
}

.forgot-password {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 0.9em;
}

.forgot-password:hover {
    text-decoration: underline;
    cursor: pointer;
}

.about-msg {
    margin-top: 0.2em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.about-msg:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* @keyframes login-fly-in-left {
    from {
        transform: translateX(-120%);
        opacity: 0.2;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
} */

@keyframes login-fly-in-bottom {
    from {
        transform: translateY(20%);
        opacity: 0.2;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
