.reset-main {
    background-color: rgb(21, 8, 73);
}

.reset-body-wrapper {
    position: absolute;
    height: 50%;
    width: 20%;
    top: 5em;
    left: 5em;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.reset-back-button {
    background-color: rgb(52, 21, 177);
    width: 25%;
    margin-top: 0.4em;
    margin-left: 0.4em;
    color: white;
    border-radius: 0.25em;

}

.reset-back-arrow {
    width: 1em;
    transform: rotate(90deg) !important;
    margin-bottom: 0.2em;
    margin-right: 0.1em;
    display: none;
}

.reset-back-button:hover .reset-back-arrow {
    display: inline;
    animation: reset-back-fly-in 0.4s;
}

.reset-back-button:hover {

}

@keyframes reset-back-fly-in {
    from {
        opacity: 0;
        transform: translateX(-80%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}