* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

header {
    flex: 0 80px;
}

main {
    flex: 1;
}

footer {

}