.create-main {
    background-color: rgb(21, 8, 73);
    display: flex;
    flex-direction: row;
}

.create-box-wrapper {
    background-color: rgb(232, 232, 235);
    width: 45vh;
    margin: 5em;
    box-shadow: 0 0 5px 5px rgb(232, 232, 235);
    animation: login-fly-in-bottom 1.8s;
}

.create-box-height-small {
    height: 63vh;
}

.create-box-height-big {
    height: 70vh;
}

.create-back-button {
    background-color: rgb(52, 21, 177);
    color: white;
    border-radius: 0.25em;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.create-back-button:hover {
    background-color: rgb(34, 15, 109);
}

.create-back-button:hover .create-back-arrow {
    display: inline;
    animation: create-back-fly-from-left 0.4s;
}

.create-back-arrow {
    width: 20px;
    transform: rotate(90deg);
    position: relative;
    bottom: 1px;
    margin-left: -4px;
    display: none;
}

.create-title {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 0.5em;
    border-bottom: thin black solid;
    width: 10em;
    padding-left: 0.5em;
}

.create-input-field {
    padding-top: 0.5em;
    margin-left: 0.7em;
}

.create-header {
    padding-left: 0.2em;
    font-size: 1em;
}

.create-input {
    border-radius: 0.25em;
    margin-top: 0.25em;
    padding-left: 0.4em;
}

.create-show-password-box {
    margin: 0.5em;
    margin-left: 0.7em;
}

.show-pass-create-header {
    padding-left: 0.5em;
}

.create-acct-btn2 {
    margin-top: 1em;
    margin-left: 0.5em;
    background-color: rgb(117, 122, 122);
    color: white;
    border-radius: 0.25em;
    padding: 0.1em 0.5em;
}

.create-acct-btn2:hover {
    background-color: rgb(81, 85, 85);
}

.create-error-message {
    color: red;
    font-weight: bold;
    padding-left: 0.25em;
    padding-top: 0.2em;   
}

.create-logo-display {
    align-content: center;
    justify-items: center;
    padding-bottom: 15em;
    padding-left: 8em
}

.logo-image {
    width: 150px;
    animation: rotate-around linear infinite 15s;
}

.logo-title {
    color: white;
    font-weight: bold;
    font-size: 4em;
}

@keyframes create-back-fly-from-left {
    from {
        transform: translateX(-80%) rotate(90deg);
        opacity: 0;
    }
    to {
        transform: translateX(0%) rotate(90deg);
        opacity: 100;
    }
}

@keyframes rotate-around {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}