footer {
    background-color: rgb(21, 8, 73);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-image {
    width: 35px;
    color:white;
    margin-bottom: 0.7em;
}

.footer-link {
    padding: 0.1em;
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}